*{
    margin: 0;
    padding: 0;
    
}
#Logo
{
    cursor: default;
}
#Log_In:hover
{
    fill: black;
    opacity: 0.5;
    cursor: default;
}
#Sign_Up:hover #Sign_Up-2
{
    cursor:default;
}
#Sign_Up:hover #Rectangle_3-2
{
    cursor: default;
    fill:rgba(66, 66, 65, 0.678);
}
#Templates:hover
{
    fill:black;
    opacity: 0.35;   
}
#Examples:hover
{
    fill:black;
    opacity: 0.35;   
}
#About:hover
{
    fill:black;
    opacity: 0.35;   
}